.bg-hero-image {
    background-image: url('img/herobackground.jpg'); 
    background-position: center center;
}

.nav {
    height:4rem;
    width:4rem;
    
}
.img-thumbnail {
height: 10rem;
width: 10rem;
margin-bottom: 15px;

}

.d-md-none {
font-family: 'DM Serif Display', serif;
background-color: black;
}

.mb-3 {
    font-size: 50px;
}

.container {
    background-color: black;
}

